<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<div class="container">
  <div class="d-flex justify-content-around align-items-center">
    <!-- search bar -->
    <div class="search-bar">
      <div class="search-bar-outer">
        <div class="search-bar-inner">
          <form action="/search">
            <h4 class="mb-2">尋找餐廳：</h4>
            <div class="input-group">
              <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
                value="{{keyword}}" aria-describedby="search-button">
              <div class="input-group-append">
                <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    {{!-- sort --}}
    <div class="dropdown-center">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="?sort=asc&type=name{{#if keyword}}&keyword={{keyword}}{{/if}}">A -> Z</a></li>
        <li><a class="dropdown-item" href="?sort=desc&type=name{{#if keyword}}&keyword={{keyword}}{{/if}}">Z -> A</a></li>
        <li><a class="dropdown-item" href="?sort=asc&type=category{{#if keyword}}&keyword={{keyword}}{{/if}}">類別</a></li>
        <li><a class="dropdown-item" href="?sort=asc&type=location{{#if keyword}}&keyword={{keyword}}{{/if}}">地區</a></li>
      </ul>
    </div>
  </div>
  
  <!-- restaurant list -->
  <div class="mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row row-cols-sm-3">
          {{#each restaurants}}
          <div>
            <a href="/restaurants/{{this._id}}" class="text-secondary text-decoration-none">
              <div class="card mt-3">
                <img class="card-img-top" src={{this.image}} alt={{this.name}}>
                <div class="card-body p-3">
                  <h6 class="card-title mb-1">{{this.name}}</h6>
  
                  <div class="restaurant-category mb-1">
                    <i class="fas fa-utensils pr-2"></i> {{this.category}}
                  </div>
  
                  <span class="badge rounded-pill bg-warning font-weight-normal">
                    {{this.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>
              </div>
            </a>
            <div class="d-flex justify-content-end">
              <a href="/restaurants/{{ this._id }}/edit" class="my-auto mx-2">Edit</a>
              <a href="/restaurants/{{ this._id }}" class="my-auto mx-2">Detail</a>
              <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger m-1">Delete</button>
              </form>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>